.game-container {
  min-height: max(160vh, 100vh + 600px);
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: aqua;
}

.game-over-menu {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: aqua;
}

.game-over {
  font-size: 50px;
}

.score {
  margin-bottom: 30px;
  color: blue;
  font-size: 50px;
}

.buttons {
  display: flex;
  flex-direction: column;
}

.buttons button:not(:last-child) {
  margin-bottom: 10px;
}
