.game-container {
  min-height: max(160vh, 100vh + 600px);
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: aqua;
}

.game-over-menu {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: aqua;
}

.game-over {
  font-size: 50px;
}

.score {
  color: blue;
  margin-bottom: 30px;
  font-size: 50px;
}

.best-score {
  color: blue;
  margin-bottom: 30px;
  font-size: 30px;
}

.new-best-score {
  color: red;
  margin-bottom: 30px;
  animation: wobble 2s ease-in-out infinite;
  font-size: 75px;
}

.buttons {
  display: flex;
  flex-direction: column;
}

.buttons button:not(:last-child) {
  margin-bottom: 10px;
}

@keyframes wobble {
  from,
  to {
    transform: rotateY(-90deg);
  }
  50% {
    transform: rotateY(45deg);
  }
}
