.App {
  text-align: center;
  height: 150vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: aqua;
}

.App.game-over {
  height: 100vh;
}

.game {
  height: 600px;
  width: 1200px;
  background-color: aquamarine;
  position: relative;
}

.shark {
  height: 80px;
  position: sticky;
  top: 50vh;
  margin-right: 75%;
}

.water-ball {
  height: 80px;
  transform: rotate(180deg);
  position: absolute;
}

.water-ball.slow {
  height: 120px;
}

.game-over {
  font-size: 50px;
  margin-bottom: 50px;
}
